
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1483521875077'); /* IE9*/
  src: url('iconfont.eot?t=1483521875077#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1483521875077') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1483521875077') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1483521875077#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ok:before { content: "\e600"; }

.icon-user:before { content: "\e643"; }

.icon-search:before { content: "\e623"; }

.icon-jiantou-you:before { content: "\e635"; }

.icon-lock:before { content: "\e602"; }

.icon-jiantou-shang:before { content: "\e66c"; }

.icon-jiantou-zuo:before { content: "\e601"; }

.icon-jiantou-xia:before { content: "\e621"; }

.icon-error:before { content: "\e6d5"; }

