
/***
ie8 & ie9 modes
***/
.visible-ie8 {
    display: none;
}

.ie8 .visible-ie8 {
    display: inherit !important;
}

.visible-ie9 {
    display: none;
}

.ie9 .visible-ie9 {
    display: inherit !important;
}

.hidden-ie8 {
    display: inherit;
}

.ie8 .hidden-ie8 {
    display: none !important;
}

.hidden-ie9 {
    display: inherit;
}

.ie9 .hidden-ie9 {
    display: none !important;
}

/***
Fix link outlines after click
***/
a,a:focus, a:hover, a:active {
    outline: 0;
}

/***
IE8 fix for form input height in fluid rows
***/
.ie8 .row-fluid [class*="span"] {
    min-height: 20px !important;
}

/***
Fix grid offset used for reponsive layout handling(refer app.js=>handleResponsive)
***/
.fix-offset {
    margin-left: 0px !important;
}

/***
Misc tools
***/
.visible-ie8 {
    display: none
}

.no-padding {
    padding: 0px !important;
}

.no-margin {
    margin: 0px !important;
}

.no-bottom-space {
    padding-bottom:0px !important;
    margin-bottom: 0px !important;
}

.no-top-space {
    padding-top:0px !important;
    margin-top: 0px !important;
}

.space5 {
    display: block;
    height: 5px !important;
    clear: both;
}

.space7 {
    height: 7px !important;
    clear: both;
}

.space10 {
    height: 10px !important;
    clear: both;
}

.space12 {
    height: 12px !important;
    clear: both;
}

.space15 {
    height: 15px !important;
    clear: both;
}

.space20 {
    height: 20px !important;
    clear: both;
}

.no-space {
    margin: 0px !important;
    padding: 0px !important;
}

.no-text-shadow {
    text-shadow: none !important;
}

.no-left-padding {
    padding-left: 0 !important;
}

.no-left-margin {
    margin-left: 0 !important;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.margin-top-10 {
    margin-top: 10px !important;
}

.margin-bottom-15 {
    margin-bottom: 15px !important;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.margin-top-20 {
    margin-top: 20px !important;
}

.margin-bottom-25 {
    margin-bottom: 25px !important;
}

.hide {
    display: none;
}

.bold {
    font-weight:600 !important;
}

.fix-margin {
    margin-left: 0px !important
}

.border {
    border: 1px solid #ddd
}

.inline {
    display: inline;
}

hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #E0DFDF;
    border-bottom: 1px solid #FEFEFE;
}
body {
    color: #000;
    font-family: 'Open Sans';
    padding: 0px !important;
    margin: 0px !important;
    font-size:13px;
    direction: ltr;
}
.navbar {
    margin-bottom: 0;
}
.page-container {
    margin: 0;
    padding: 2px;
}
.page-container{
    margin-top: 50px;
}
.page-container .page-content {
    margin-left: 225px;
    height: 100%;
}
.page-container .page-sidebar {
    background-color: #dddddd;
    position: absolute;
    width: 225px;
    height: 100%;
}

/***
Page sidebar
***/

/* ie8 fixes */
.ie8 .page-sidebar {
    position: absolute;
    width: 225px;
}

ul.page-sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

ul.page-sidebar-menu > li {
    /* display: block; */
    /* margin: 0; */
    /* padding: 0; */
    /* border: 0px; */
    border-bottom: solid 1px #cccccc;
}

ul.page-sidebar-menu > li.start > a {
    border-top-color: transparent !important;
}

ul.page-sidebar-menu > li:last-child > a,
ul.page-sidebar-menu > li.last > a {
    border-bottom-color: transparent !important;
}

ul.page-sidebar-menu > li > a {
    display: block;
    position: relative;
    margin: 0;
    border: 0px;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
}

.page-sidebar-fixed ul.page-sidebar-menu > li > a {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

/*未点击*/
.page-sidebar ul > li > a > .icon:before {
    float: right;
    margin-top: 1px;
    margin-right: 3px;
    display: inline;
    font-size: 16px;
    height: auto;
    font-weight: 300;
    text-shadow:none;
    /*iconfont:icon-jiantou-you;*/
}
/*点击后*/
ul.page-sidebar-menu > li > a > .icon.open:before {
    float: right;
    margin-top: 1px;
    margin-right: 3px;
    display: inline;
    height: auto;
    font-size: 16px;
    font-weight: 300;
    text-shadow:none;
    /*iconfont:icon-jiantou-xia;*/
}

ul.page-sidebar-menu > li > ul.sub-menu {
    display: none;
    list-style: none;
    clear: both;
    margin: 0px 0px 0px 0px;
    padding-left: 30px;

}

ul.page-sidebar-menu > li.active > ul.sub-menu {
    display: block;
}

ul.page-sidebar-menu > li > ul.sub-menu > li {
    background: none;
    margin: 0px;
    padding: 0px;
    margin-top: 1px !important;
}

ul.page-sidebar-menu > li > ul.sub-menu > li > a {
    display: block;
    margin: 0px 0px 0px 0px;
    padding: 2px 0px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    background: none;
}


ul.page-sidebar-menu > li > ul.sub-menu  > li ul.sub-menu {
    display: none;
    list-style: none;
    clear: both;
    margin: 0px 0px 0px 0px;
}

ul.page-sidebar-menu > li > ul.sub-menu  li > a > .icon:before   {
    float: right;
    margin-top: 1px;
    margin-right: 20px;
    display: inline;
    font-size: 16px;
    height: auto;
    font-weight: 300;
    text-shadow:none;
}

ul.page-sidebar-menu > li > ul.sub-menu  li > a > .icon.open:before {
    float: right;
    margin-top: 1px;
    margin-right: 20px;
    display: inline;
    height: auto;
    font-size: 16px;
    font-weight: 300;
    text-shadow:none;
}


/* 3rd level sub menu */
ul.page-sidebar-menu > li.active > ul.sub-menu > li.active ul.sub-menu {
    display: block;
}

ul.page-sidebar-menu > li > ul.sub-menu > li  ul.sub-menu li {
    background: none;
    margin: 0px;
    padding: 0px;
    margin-top: 1px !important;
}

ul.page-sidebar-menu > li > ul.sub-menu  li > ul.sub-menu > li > a {
    display: block;
    margin: 0px 0px 0px 0px;
    padding: 5px 0px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    background: none;
}

ul.page-sidebar-menu > li > ul.sub-menu > li > ul.sub-menu > li > a {
    padding-left: 0px;
}