.panel-main-content{
    position:fixed;
    width:100%;
    left:0;
    padding:60px 0 30px 0;
    height:100%;
    overflow: auto
}
.panel-main-footer{
    height:15px;
    bottom:0;
    background:#9d9d9d;
    position:fixed;
    width:100%;
    left:0;
    z-index:20;
    text-align: center;
}
.content{
    height:100%;
    bottom:0;
    padding: 0 15px 0 0;
}
.content-panel{
    height:100%;
    bottom:0;
    border: 0;
}
.sidebar  a,
.sidebar :hover,
.sidebar :focus {
    text-decoration:none;
}
.sidebar-panel{
    padding: 10px 0 2px 15px;
}