.navbar {
    margin-bottom: 0;
}
.page-container {
    margin: 0;
    padding: 2px;
}
.page-container{
    margin-top: 50px;
}
.page-container .page-content {
    margin-left: 225px;
}

.page-container .page-sidebar {
    background-color: #c5cbc7;
    position: absolute;
    width: 225px;
}


.page-footer{
    text-align: center;
    background-color: #fff;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10000;
    bottom: 0;
    padding: 8px 20px 5px 20px;
    font-size: 12px;
}
.scroll-to-top {
    display: inline-block;
    padding: 2px;
    text-align: center;
    position: fixed;
    z-index: 10001;
    bottom: 10px;
    display: none;
    right: 10px;
}

.scroll-to-top > i {
    display: inline-block;
    color: #687991;
    font-size: 32px;
    opacity: 0.7;
    filter: alpha(opacity=70);
}