<form>
    <div id="tree"></div>
    <div class="form-group">
        <label for="message-text" class="control-label">Message:</label>
        <textarea class="form-control" id="message-text"></textarea>
    </div>
</form>
<script src="__STATIC__/Bootstrap/js/bootstrap-treeview.min.js"></script>
<script type="text/javascript">

    var tree = [{
            text: "Parent 1",
            nodes: [
                {
                    text: "Child 1",
                    nodes: [
                        {
                            text: "Grandchild 1"
                        },
                        {
                            text: "Grandchild 2"
                        }
                    ]
                },
                {
                    text: "Child 2"
                }
            ]
        }];

    $('#tree').treeview({
        showCheckbox: true,
        data:tree
    });


</script>